{%extends "base.html"%}
{%block title%}Business_Support{%endblock%}
{%block content%}      
       <!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="4u">
						
							<!-- Sidebar -->
								<div id="sidebar">
									<section class="widget-thumbnails">
									<div class="do-5grid grid">
                                            <img src="{{ STATIC_URL }}img/support1.jpg"/>
                                    </div>
                                    </section>
								</div>
						</div>
						<div class="8u">

							<!-- Content -->
								<div id="content">
									<section class="last">
										<h2><a href="xx">仟百度自助烧烤</a></h2>
										<p>Description:主要经营北方料理，开胃爽口，新鲜热辣，每月新品，欢迎品尝
                                           Address:
                                            Unit 6, 2280 Carling Ave
                                            Ottawa, Ontario K2B 7G1
                                            Canada
                                            电话:
                                            613-828-8988
                                            地点:
                                        </p>
										
							        </section>
								</div>

						</div>
                        
					</div>
                    <div class="row">
						<div class="4u">
						
							<!-- Sidebar -->
								<div id="sidebar">
									<section class="widget-thumbnails">
									<div class="do-5grid grid">
                                            <img src="{{ STATIC_URL }}img/support2.jpg"/>
                                    </div>
                                    </section>
								</div>
						</div>
						<div class="8u">

							<!-- Content -->
								<div id="content">
									<section class="last">
										<h2><a href="http://www.comefromchina.com/ads/maysgarden/">梅园酒家</a></h2>
										<p>Description:主要经营北方料理，开胃爽口，新鲜热辣，每月新品，欢迎品尝
                                           Address:
                                            Unit 6, 2280 Carling Ave
                                            Ottawa, Ontario K2B 7G1
                                            Canada
                                            电话:
                                            613-828-8988
                                            地点:
                                        </p>
										
							        </section>
								</div>

						</div>
                        
					</div>
                    <div class="row">
						<div class="4u">
						
							<!-- Sidebar -->
								<div id="sidebar">
									<section class="widget-thumbnails">
									<div class="do-5grid grid">
                                            <img src="{{ STATIC_URL }}img/support3.jpg"/>
                                    </div>
                                    </section>
								</div>
						</div>
						<div class="8u">

							<!-- Content -->
								<div id="content">
									<section class="last">
										<h2><a href="xx">米豆小馆</a></h2>
										<p>Description:主要经营北方料理，开胃爽口，新鲜热辣，每月新品，欢迎品尝
                                           Address:
                                            Unit 6, 2280 Carling Ave
                                            Ottawa, Ontario K2B 7G1
                                            Canada
                                            电话:
                                            613-828-8988
                                            地点:
                                        </p>
										
							        </section>
								</div>

						</div>
                        
					</div>
                    <div class="row">
						<div class="4u">
						
							<!-- Sidebar -->
								<div id="sidebar">
									<section class="widget-thumbnails">
									<div class="do-5grid grid">
                                            <img src="{{ STATIC_URL }}img/support4.jpg"/>
                                    </div>
                                    </section>
								</div>
						</div>
						<div class="8u">

							<!-- Content -->
								<div id="content">
									<section class="last">
										<h2><a href="xx">sushi-kan</a></h2>
										<p>Description:主要经营北方料理，开胃爽口，新鲜热辣，每月新品，欢迎品尝
                                           Address:
                                            Unit 6, 2280 Carling Ave
                                            Ottawa, Ontario K2B 7G1
                                            Canada
                                            电话:
                                            613-828-8988
                                            地点:
                                        </p>
										
							        </section>
								</div>

						</div>
                        
					</div>
                    <div class="row">
						<div class="4u">
						
							<!-- Sidebar -->
								<div id="sidebar">
									<section class="widget-thumbnails">
									<div class="do-5grid grid">
                                            <img src="{{ STATIC_URL }}img/support6.jpg"/>
                                    </div>
                                    </section>
								</div>
						</div>
						<div class="8u">

							<!-- Content -->
								<div id="content">
									<section class="last">
										<h2><a href="xx">小肥羊</a></h2>
										<p>Description:主要经营北方料理，开胃爽口，新鲜热辣，每月新品，欢迎品尝
                                           Address:
                                            Unit 6, 2280 Carling Ave
                                            Ottawa, Ontario K2B 7G1
                                            Canada
                                            电话:
                                            613-828-8988
                                            地点:
                                        </p>
										
							        </section>
								</div>

						</div>
                        
					</div>
                    <div class="row">
						<div class="4u">
						
							<!-- Sidebar -->
								<div id="sidebar">
									<section class="widget-thumbnails">
									<div class="do-5grid grid">
                                            <img src="{{ STATIC_URL }}img/support1.jpg"/>
                                    </div>
                                    </section>
								</div>
						</div>
						<div class="8u">

							<!-- Content -->
								<div id="content">
									<section class="last">
										<h2><a href="xx">四海一家</a></h2>
										<p>Description:主要经营北方料理，开胃爽口，新鲜热辣，每月新品，欢迎品尝
                                           Address:
                                            Unit 6, 2280 Carling Ave
                                            Ottawa, Ontario K2B 7G1
                                            Canada
                                            电话:
                                            613-828-8988
                                            地点:
                                        </p>
										
							        </section>
								</div>

						</div>
                        
					</div><div class="row">
						<div class="4u">
						
							<!-- Sidebar -->
								<div id="sidebar">
									<section class="widget-thumbnails">
									<div class="do-5grid grid">
                                            <img src="{{ STATIC_URL }}img/support1.jpg"/>
                                    </div>
                                    </section>
								</div>
						</div>
						<div class="8u">

							<!-- Content -->
								<div id="content">
									<section class="last">
										<h2><a href="xx">三皇小厨</a></h2>
										<p>Description:主要经营北方料理，开胃爽口，新鲜热辣，每月新品，欢迎品尝
                                           Address:
                                            Unit 6, 2280 Carling Ave
                                            Ottawa, Ontario K2B 7G1
                                            Canada
                                            电话:
                                            613-828-8988
                                            地点:
                                        </p>
										
							        </section>
								</div>

						</div>
                        
					</div>
				</div>
			</div>
		
{%endblock%}		