{%extends "base.html"%}
{%block title%}events活动列表{%endblock%}
{%block content%}

<div style="background-color:#fff;" align="center">
<h2 style="text-align:center;background-color:#20b0e5">近期活动列表</br>
(Carleton U, Ottawa U)
</h2>
<div style="width:80%;">
<ol style="text-align:center; font-size:20px">
    <li>Ottawa地区篮球比赛</li>
    <li>Back to School系列讲座
        <ul><li>如何申请卡尔顿研究生 </li>
            <li>如何申请卡尔顿博士生 </li>
            <li>帮你了解卡尔顿周边居住条件  </li>
            <li>如何寻求帮助</li> 
        </ul>
    </li>
    <li>不同专业论文指导</li>
    <li>签证，健康保险的购买等<li>
    <li>退税</li>
    <li>打折机票，商家 </li>
    <li>卡尔顿中国教授介绍</li>
    
</ol>	

<h3 style="text-align:center;">想了解更多？<h3>								
<a style="text-align:center;" href="/download/application_form" class="button button-icon button-icon-rarrow">下载表格，加入我们 ...</a>

</div>
</div>




{%endblock%}