{%extends "base.html"%}
{%block title%}IntroductionNACSA简介{%endblock%}

{%block content%}
<div style=" background-color:#fff;" align="center">
<div style="width:80%;">
<h2 style="text-align:center;">北美研究生博士(生)学者联盟</br>(North American Chinese Student Association)
</h2>
<p style="text-align:left;">	北美研究生博士(生)学者联盟(以下简称“联盟”)，前身是“加拿大研究生学生学者联盟“于2010年1月8日在加拿大渥太华成立。研博联盟是在研究生学者联盟的基础上改组并得到了加拿大各方机构的大力协助和支持下成立的非盈利组织。
北美研究生博士(生)学者联盟，主要由在加拿大留学的研究生，博士生们组成。包括北美地区学术社团组织，有考研读博意愿的本科留学人员。
研博联盟是在研究生学者联盟的基础上改组并得到了加拿大各方机构的大力协助和支持下成立的非盈利组织。</p>
<p style="text-align:left;">本联盟将凝聚北美地区尤其是加拿大地区高层次留学人才，服务留学生活；建立人才资源库；
组织研究生博士沙龙，开展形式多样的学术文化休闲活动，加强会员内部的交流与合作；
并向有志愿考取研究生或博士生的留学生提供经验或资料参考；配合有关部门建立高层次留学人员为国服务的咨询交流平台和就业创业平台；
建立与当地社团组织和学术团体的联系，促进中加，中美社会经济和科教文化的交流和发展。

</p>
<h3 style="text-align:center;">想了解更多？<h3>								
<a style="text-align:center;" href="/download/application_form" class="button button-icon button-icon-rarrow">下载表格，加入我们 ...</a>

</div>
</div>



{%endblock%}